
#u3629.c {
  left:363px;
  top:4973px;
}
#u3630.c {
  left:1288px;
  top:5542px;
  width:228px;
}
#u3631.c {
  border-width:0px;
  position:absolute;
  left:523px;
  top:5098px;
  width:228px;
  height:210px;
}
#u3632.c {
}
#u3632_img.c {
}
#u3632.c {
}
#u3631_state0.c {
  width:228px;
  background-color:rgba(232, 232, 232, 1);
  background-image:none;
}
#u3634.c {
  left:25px;
  top:5358px;
  width:228px;
}
#u3634_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:210px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3634.c {
  left:25px;
  top:5358px;
  width:228px;
}
#u3635.c {
  left:46px;
  top:5443px;
  width:228px;
}
#u3635_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u3635.c {
  left:46px;
  top:5443px;
  width:228px;
}
#u3635_text.c {
  width:228px;
}
#u3636.c {
  left:523px;
  top:5098px;
  width:228px;
}
#u3637.c {
  left:305px;
  top:5588px;
}
#u3637_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Work Sans', 'Frutiger CE 45', 'Roboto', 'Arial';
  font-weight:300;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u3637.c {
  left:305px;
  top:5588px;
}
#u3637_text.c {
}
#u3639.c {
  border-width:0px;
  position:absolute;
  left:337px;
  top:5428px;
  width:228px;
  height:210px;
}
#u3640.c {
}
#u3640_img.c {
}
#u3640.c {
}
#u3639_state0.c {
  width:228px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3642.c {
  left:1084px;
  top:5428px;
  width:228px;
}
#u3642_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:210px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3642.c {
  left:1084px;
  top:5428px;
  width:228px;
}
#u3643.c {
  left:1122px;
  top:5510px;
  width:155px;
  height:37px;
}
#u3643_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:center;
}
#u3643.c {
  left:1122px;
  top:5510px;
  width:155px;
  height:37px;
}
#u3643_text.c {
  width:155px;
}
#u3644.c {
  left:337px;
  top:5428px;
  width:228px;
}
#u3645.c {
  border-width:0px;
  position:absolute;
  left:779px;
  top:5368px;
  width:228px;
  height:210px;
}
#u3646.c {
  left:88px;
}
#u3646_img.c {
}
#u3646.c {
  left:88px;
}
#u3645_state0.c {
  width:228px;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u3648.c {
  left:530px;
  top:5368px;
  width:228px;
}
#u3648_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:210px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3648.c {
  left:530px;
  top:5368px;
  width:228px;
}
#u3649.c {
  left:568px;
  top:5444px;
  width:228px;
  height:58px;
}
#u3649_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u3649.c {
  left:568px;
  top:5444px;
  width:228px;
  height:58px;
}
#u3649_text.c {
  width:228px;
}
#u3650.c {
  left:779px;
  top:5368px;
  width:228px;
}
#u3651.c {
  border-width:0px;
  position:absolute;
  left:1307px;
  top:5348px;
  width:228px;
  height:210px;
}
#u3652.c {
}
#u3652_img.c {
}
#u3652.c {
}
#u3651_state0.c {
  width:228px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3654.c {
  left:809px;
  top:5348px;
  width:228px;
}
#u3654_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:210px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3654.c {
  left:809px;
  top:5348px;
  width:228px;
}
#u3655.c {
  left:847px;
  top:5430px;
  width:228px;
  height:38px;
}
#u3655_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u3655.c {
  left:847px;
  top:5430px;
  width:228px;
  height:38px;
}
#u3655_text.c {
  width:228px;
}
#u3656.c {
  left:1307px;
  top:5348px;
  width:228px;
}
#u3658.c {
  left:388px;
  top:4740px;
}
#u3658_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Work Sans', 'Frutiger CE 45', 'Roboto', 'Arial';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u3658.c {
  left:388px;
  top:4740px;
}
#u3658_text.c {
}
#u3660.c {
  left:608px;
  top:4751px;
  width:416px;
}
#u3660_img.c {
  width:417px;
}
#u3660.c {
  left:608px;
  top:4751px;
  width:416px;
}
#u3661.c {
  top:4751px;
  width:416px;
}
#u3661_img.c {
  width:417px;
}
#u3661.c {
  top:4751px;
  width:416px;
}
#u3663.c {
  left:83px;
  top:1245px;
}
#u3663_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Work Sans', 'Frutiger CE 45', 'Roboto', 'Arial';
  font-weight:500;
  font-style:bold;
  font-size:16px;
  line-height:18px;
}
#u3663.c {
  left:83px;
  top:1245px;
}
#u3663_text.c {
}
#u3664.c {
  left:83px;
  top:1271px;
}
#u3664_img.c {
}
#u3664.c {
  left:83px;
  top:1271px;
}
#u3664_text.c {
}
#u3665.c {
  left:83px;
  top:1416px;
}
#u3665_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Work Sans', 'Frutiger CE 45', 'Roboto', 'Arial';
  font-weight:500;
  font-style:bold;
  font-size:16px;
  line-height:18px;
}
#u3665.c {
  left:83px;
  top:1416px;
}
#u3665_text.c {
}
#u3666.c {
  left:83px;
  top:1441px;
}
#u3666_img.c {
}
#u3666.c {
  left:83px;
  top:1441px;
}
#u3666_text.c {
}
#u3667.c {
  left:83px;
  top:1329px;
}
#u3667_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Work Sans', 'Frutiger CE 45', 'Roboto', 'Arial';
  font-weight:500;
  font-style:bold;
  font-size:16px;
  line-height:18px;
}
#u3667.c {
  left:83px;
  top:1329px;
}
#u3667_text.c {
}
#u3668.c {
  left:83px;
  top:1357px;
}
#u3668_img.c {
}
#u3668.c {
  left:83px;
  top:1357px;
}
#u3668_text.c {
}
#u3670.c {
  top:1245px;
}
#u3670_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Work Sans', 'Frutiger CE 45', 'Roboto', 'Arial';
  font-weight:500;
  font-style:bold;
  font-size:16px;
  line-height:18px;
}
#u3670.c {
  top:1245px;
}
#u3670_text.c {
}
#u3671.c {
  top:1300px;
  width:484px;
}
#u3671_img.c {
  width:486px;
}
#u3671.c {
  top:1300px;
  width:484px;
}
#u3671_text.c {
  width:484px;
}
#u3672.c {
  top:1272px;
}
#u3672_img.c {
}
#u3672.c {
  top:1272px;
}
#u3672_text.c {
}
#u3673.c {
  top:801px;
}
#u3673_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Work Sans', 'Frutiger CE 45', 'Roboto', 'Arial';
  font-weight:500;
  font-style:bold;
  font-size:16px;
  text-decoration:underline;
}
#u3673.c {
  top:801px;
}
#u3673_text.c {
}
#u3674.c {
  top:830px;
}
#u3674_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:899px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1E1E1E;
}
#u3674.c {
  top:830px;
}
#u3674_text.c {
}
#u3676.c {
  left:231px;
  top:1003px;
}
#u3676_img.c {
}
#u3676.c {
  left:231px;
  top:1003px;
}
#u3677.c {
  left:155px;
  top:992px;
}
#u3677_img.c {
}
#u3677.c {
  left:155px;
  top:992px;
}
#u3678.c {
  left:576px;
  top:972px;
}
#u3678_img.c {
}
#u3678.c {
  left:576px;
  top:972px;
}
#u3679.c {
  left:449px;
  top:963px;
}
#u3679_img.c {
}
#u3679.c {
  left:449px;
  top:963px;
}
#u3680.c {
  left:352px;
  top:980px;
}
#u3680_img.c {
}
#u3680.c {
  left:352px;
  top:980px;
}
#u3681.c {
  left:288px;
  top:994px;
}
#u3681_img.c {
}
#u3681.c {
  left:288px;
  top:994px;
}
#u3682.c {
  left:686px;
  top:988px;
}
#u3682_img.c {
}
#u3682.c {
  left:686px;
  top:988px;
}
#u3683.c {
  left:721px;
  top:916px;
}
#u3683_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u3683.c {
  left:721px;
  top:916px;
}
#u3683_text.c {
}
#u3684.c {
  left:874px;
  top:932px;
}
#u3684_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u3684.c {
  left:874px;
  top:932px;
}
#u3684_text.c {
}
#u3685.c {
  left:103px;
  top:1093px;
}
#u3685_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u3685.c {
  left:103px;
  top:1093px;
}
#u3685_text.c {
}
#u3686.c {
  left:611px;
  top:1135px;
}
#u3686_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u3686.c {
  left:611px;
  top:1135px;
}
#u3686_text.c {
}
#u3687.c {
  left:474px;
  top:916px;
}
#u3687_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u3687.c {
  left:474px;
  top:916px;
}
#u3687_text.c {
}
#u3688.c {
  left:302px;
  top:943px;
}
#u3688_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u3688.c {
  left:302px;
  top:943px;
}
#u3688_text.c {
}
#u3689.c {
  left:82px;
  top:991px;
}
#u3689_img.c {
}
#u3689.c {
  left:82px;
  top:991px;
}
#u3690.c {
  left:186px;
  top:916px;
}
#u3690_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u3690.c {
  left:186px;
  top:916px;
}
#u3690_text.c {
}
#u3691.c {
  left:250px;
  top:1100px;
  width:165px;
  height:22px;
}
#u3691_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u3691.c {
  left:250px;
  top:1100px;
  width:165px;
  height:22px;
}
#u3691_text.c {
  width:165px;
}
#u3692.c {
  left:794px;
  top:1106px;
}
#u3692_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u3692.c {
  left:794px;
  top:1106px;
}
#u3692_text.c {
}
#u3693.c {
  left:606px;
  top:1076px;
}
#u3693_img.c {
}
#u3693.c {
  left:606px;
  top:1076px;
}
#u3694.c {
  left:715px;
  top:916px;
}
#u3694_img.c {
}
#u3694.c {
  left:715px;
  top:916px;
}
#u3695.c {
  left:98px;
  top:1063px;
}
#u3695_img.c {
}
#u3695.c {
  left:98px;
  top:1063px;
}
#u3696.c {
  left:468px;
  top:916px;
}
#u3696_img.c {
}
#u3696.c {
  left:468px;
  top:916px;
}
#u3697.c {
  left:869px;
  top:935px;
}
#u3697_img.c {
}
#u3697.c {
  left:869px;
  top:935px;
}
#u3698.c {
  left:297px;
  top:945px;
}
#u3698_img.c {
}
#u3698.c {
  left:297px;
  top:945px;
}
#u3699.c {
  left:242px;
  top:1055px;
}
#u3699_img.c {
}
#u3699.c {
  left:242px;
  top:1055px;
}
#u3700.c {
  left:179px;
  top:916px;
  height:99px;
}
#u3700_img.c {
  height:100px;
}
#u3700.c {
  left:179px;
  top:916px;
  height:99px;
}
#u3701.c {
  left:791px;
  top:1057px;
}
#u3701_img.c {
}
#u3701.c {
  left:791px;
  top:1057px;
}
#u3702.c {
  left:389px;
  top:1076px;
}
#u3702_img.c {
}
#u3702.c {
  left:389px;
  top:1076px;
}
#u3703.c {
  left:829px;
  top:998px;
}
#u3703_img.c {
}
#u3703.c {
  left:829px;
  top:998px;
}
#u3704.c {
  left:395px;
  top:1122px;
}
#u3704_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u3704.c {
  left:395px;
  top:1122px;
}
#u3704_text.c {
}
#u3705.c {
  left:769px;
  top:998px;
}
#u3705_img.c {
}
#u3705.c {
  left:769px;
  top:998px;
}
#u3707.c {
  left:44px;
  top:1022px;
}
#u3707_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:23px;
  background:inherit;
  background-color:rgba(139, 171, 209, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3707.c {
  left:44px;
  top:1022px;
}
#u3708.c {
  left:44px;
  top:1025px;
}
#u3708_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Work Sans', 'Frutiger CE 45', 'Roboto', 'Arial';
  font-weight:500;
  font-style:bold;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u3708.c {
  left:44px;
  top:1025px;
}
#u3708_text.c {
}
#u3709.c {
  left:231px;
  top:1025px;
}
#u3709_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Work Sans', 'Frutiger CE 45', 'Roboto', 'Arial';
  font-weight:500;
  font-style:bold;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u3709.c {
  left:231px;
  top:1025px;
}
#u3709_text.c {
}
#u3710.c {
  left:419px;
  top:1025px;
}
#u3710_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Work Sans', 'Frutiger CE 45', 'Roboto', 'Arial';
  font-weight:500;
  font-style:bold;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u3710.c {
  left:419px;
  top:1025px;
}
#u3710_text.c {
}
#u3711.c {
  left:607px;
  top:1025px;
}
#u3711_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Work Sans', 'Frutiger CE 45', 'Roboto', 'Arial';
  font-weight:500;
  font-style:bold;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u3711.c {
  left:607px;
  top:1025px;
}
#u3711_text.c {
}
#u3712.c {
  left:794px;
  top:1025px;
}
#u3712_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Work Sans', 'Frutiger CE 45', 'Roboto', 'Arial';
  font-weight:500;
  font-style:bold;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u3712.c {
  left:794px;
  top:1025px;
}
#u3712_text.c {
}
#u3713.c {
  left:83px;
  top:1736px;
  width:834px;
  height:520px;
}
#u3713_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:834px;
  height:520px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:3px 3px 15px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:3px 3px 15px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:3px 3px 15px rgba(153, 153, 153, 0.349019607843137);
}
#u3713.c {
  left:83px;
  top:1736px;
  width:834px;
  height:520px;
}
#u3715.c {
  left:324px;
  top:1791px;
}
#u3715_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Work Sans', 'Frutiger CE 45', 'Roboto', 'Arial';
  font-weight:500;
  font-style:bold;
  font-size:16px;
  text-align:center;
}
#u3715.c {
  left:324px;
  top:1791px;
}
#u3715_text.c {
}
#u3716.c {
  left:123px;
  top:1760px;
  width:124px;
  height:120px;
}
#u3716_img.c {
  width:124px;
  height:120px;
}
#u3716.c {
  left:123px;
  top:1760px;
  width:124px;
  height:120px;
}
#u3717.c {
  left:324px;
  top:1948px;
}
#u3717_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Work Sans', 'Frutiger CE 45', 'Roboto', 'Arial';
  font-weight:500;
  font-style:bold;
  font-size:16px;
  text-align:center;
}
#u3717.c {
  left:324px;
  top:1948px;
}
#u3717_text.c {
}
#u3718.c {
  left:324px;
  top:1977px;
  width:556px;
  height:61px;
}
#u3718_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u3718.c {
  left:324px;
  top:1977px;
  width:556px;
  height:61px;
}
#u3718_text.c {
  width:556px;
}
#u3719.c {
  left:324px;
  top:2128px;
}
#u3719_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Work Sans', 'Frutiger CE 45', 'Roboto', 'Arial';
  font-weight:500;
  font-style:bold;
  font-size:16px;
  text-align:center;
}
#u3719.c {
  left:324px;
  top:2128px;
}
#u3719_text.c {
}
#u3720.c {
  left:324px;
  top:1820px;
  width:569px;
  height:60px;
}
#u3720_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:569px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u3720.c {
  left:324px;
  top:1820px;
  width:569px;
  height:60px;
}
#u3720_text.c {
  width:569px;
}
#u3721.c {
  left:324px;
  top:2157px;
  width:556px;
  height:70px;
}
#u3721_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u3721.c {
  left:324px;
  top:2157px;
  width:556px;
  height:70px;
}
#u3721_text.c {
  width:556px;
}
#u3722.c {
  left:123px;
  top:2118px;
  height:106px;
}
#u3722_img.c {
  height:106px;
}
#u3722.c {
  left:123px;
  top:2118px;
  height:106px;
}
#u3725.c {
  left:204px;
  top:1974px;
  width:47px;
}
#u3725_img.c {
  width:47px;
}
#u3725.c {
  left:204px;
  top:1974px;
  width:47px;
}
#u3726.c {
  left:206px;
  top:1948px;
  width:41px;
}
#u3726_img.c {
  width:41px;
}
#u3726.c {
  left:206px;
  top:1948px;
  width:41px;
}
#u3727.c {
  left:183px;
  top:1996px;
  width:64px;
}
#u3727_img.c {
  width:64px;
}
#u3727.c {
  left:183px;
  top:1996px;
  width:64px;
}
#u3728.c {
  left:123px;
  top:1928px;
  width:79px;
}
#u3728_img.c {
  width:79px;
}
#u3728.c {
  left:123px;
  top:1928px;
  width:79px;
}
#u3730.c {
  left:177px;
  top:1948px;
  width:10px;
}
#u3730_img.c {
  width:10px;
}
#u3730.c {
  left:177px;
  top:1948px;
  width:10px;
}
#u3731.c {
  left:135px;
  top:1948px;
  width:13px;
}
#u3731_img.c {
  width:13px;
}
#u3731.c {
  left:135px;
  top:1948px;
  width:13px;
}
#u3732.c {
  left:144px;
  top:1933px;
  width:36px;
}
#u3732_img.c {
  width:36px;
}
#u3732.c {
  left:144px;
  top:1933px;
  width:36px;
}
#u3733.c {
  left:149px;
  top:1938px;
  width:27px;
}
#u3733_img.c {
  width:27px;
}
#u3733.c {
  left:149px;
  top:1938px;
  width:27px;
}
#u3734.c {
  left:158px;
  top:1941px;
}
#u3734_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Work Sans', 'Frutiger CE 45', 'Roboto', 'Arial';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u3734.c {
  left:158px;
  top:1941px;
}
#u3734_text.c {
}
#u3735.c {
  left:360px;
  top:4201px;
}
#u3735_img.c {
}
#u3735.c {
  left:360px;
  top:4201px;
}
#u3736.c {
  left:311px;
  top:4590px;
}
#u3736_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Work Sans', 'Frutiger CE 45', 'Roboto', 'Arial';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  text-decoration:underline;
  text-align:center;
}
#u3736.c {
  left:311px;
  top:4590px;
}
#u3736_text.c {
}
