
#u1052_img.c {
}
#u1052.c {
  left:-44px;
  top:22px;
}
#u1053.c {
  left:-44px;
  top:22px;
}
#u1053_img.c {
}
#u1053.c {
  left:-44px;
  top:22px;
}
#u1054.c {
  left:-189px;
  top:-8px;
}
#u1054_img.c {
}
#u1054.c {
  left:-189px;
  top:-8px;
}
#u1055.c {
  left:-44px;
  top:22px;
}
#u1055_img.c {
}
#u1055.c {
  left:-44px;
  top:22px;
}
#u1056.c {
}
#u1056_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Work Sans', 'Frutiger CE 45', 'Roboto', 'Arial';
  font-weight:600;
  font-style:semi-bold;
}
#u1056.c {
}
#u1056_text.c {
}
#u1057.c {
}
#u1057_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Work Sans', 'Frutiger CE 45', 'Roboto', 'Arial';
  font-weight:600;
  font-style:semi-bold;
}
#u1057.c {
}
#u1057_text.c {
}
#u1050_state0.c {
  width:228px;
  background-color:rgba(223, 223, 223, 1);
  background-image:none;
}
#u1059.c {
  left:797px;
  top:9559px;
  width:228px;
}
#u1059_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:210px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1059.c {
  left:797px;
  top:9559px;
  width:228px;
}
#u1060.c {
  left:833px;
  top:9644px;
  width:228px;
}
#u1060_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1060.c {
  left:833px;
  top:9644px;
  width:228px;
}
#u1060_text.c {
  width:228px;
}
#u1061.c {
  left:886px;
  top:9684px;
}
#u1061_img.c {
}
#u1061.c {
  left:886px;
  top:9684px;
}
#u1063.c {
  left:1053px;
  top:9559px;
  width:228px;
}
#u1063_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:210px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1063.c {
  left:1053px;
  top:9559px;
  width:228px;
}
#u1064.c {
  left:1089px;
  top:9644px;
  width:228px;
  height:65px;
}
#u1064_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1064.c {
  left:1089px;
  top:9644px;
  width:228px;
  height:65px;
}
#u1064_text.c {
  width:228px;
}
#u1065.c {
  left:385px;
  top:9938px;
}
#u1065_img.c {
}
#u1065.c {
  left:385px;
  top:9938px;
}
#u1066.c {
  border-width:0px;
  position:absolute;
  left:1324px;
  top:9658px;
  width:228px;
  height:210px;
}
#u1067.c {
}
#u1067_img.c {
}
#u1067.c {
}
#u1069.c {
}
#u1069_img.c {
}
#u1069.c {
}
#u1070.c {
}
#u1070_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:130px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1070.c {
}
#u1071.c {
}
#u1071_img.c {
}
#u1071.c {
}
#u1072.c {
}
#u1072_img.c {
}
#u1072.c {
}
#u1066_state0.c {
  width:228px;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u1074.c {
  left:1324px;
  top:9658px;
  width:228px;
}
#u1074_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:210px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1074.c {
  left:1324px;
  top:9658px;
  width:228px;
}
#u1075.c {
  left:1324px;
  top:9743px;
  width:228px;
  height:75px;
}
#u1075_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1075.c {
  left:1324px;
  top:9743px;
  width:228px;
  height:75px;
}
#u1075_text.c {
  width:228px;
}
#u1076.c {
  left:623px;
  top:9687px;
}
#u1076_img.c {
}
#u1076.c {
  left:623px;
  top:9687px;
}
#u1077.c {
  border-width:0px;
  position:absolute;
  left:1562px;
  top:10273px;
  width:228px;
  height:210px;
}
#u1078.c {
  top:7px;
  width:114px;
  height:184px;
}
#u1078_img.c {
  width:114px;
  height:184px;
}
#u1078.c {
  top:7px;
  width:114px;
  height:184px;
}
#u1079.c {
}
#u1079_img.c {
}
#u1079.c {
}
#u1080.c {
  top:0px;
  width:122px;
  height:191px;
}
#u1080_img.c {
  width:122px;
  height:191px;
}
#u1080.c {
  top:0px;
  width:122px;
  height:191px;
}
#u1077_state0.c {
  width:228px;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u1082.c {
  left:1562px;
  top:10273px;
  width:228px;
}
#u1082_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:210px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1082.c {
  left:1562px;
  top:10273px;
  width:228px;
}
#u1083.c {
  left:1562px;
  top:10358px;
  width:228px;
}
#u1083_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1083.c {
  left:1562px;
  top:10358px;
  width:228px;
}
#u1083_text.c {
  width:228px;
}
#u1084.c {
  left:388px;
  top:9687px;
}
#u1084_img.c {
}
#u1084.c {
  left:388px;
  top:9687px;
}
#u1085.c {
  border-width:0px;
  position:absolute;
  left:797px;
  top:9829px;
  width:228px;
  height:210px;
}
#u1086.c {
  left:-84px;
}
#u1086_img.c {
}
#u1086.c {
  left:-84px;
}
#u1087.c {
  left:25px;
}
#u1087_img.c {
}
#u1087.c {
  left:25px;
}
#u1088.c {
}
#u1088_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Work Sans', 'Frutiger CE 45', 'Roboto', 'Arial';
  font-weight:600;
  font-style:semi-bold;
}
#u1088.c {
}
#u1088_text.c {
}
#u1085_state0.c {
  width:228px;
  background-color:rgba(232, 232, 232, 1);
  background-image:none;
}
#u1090.c {
  left:299px;
  top:10089px;
  width:228px;
}
#u1090_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:210px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1090.c {
  left:299px;
  top:10089px;
  width:228px;
}
#u1091.c {
  left:320px;
  top:10174px;
  width:228px;
}
#u1091_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1091.c {
  left:320px;
  top:10174px;
  width:228px;
}
#u1091_text.c {
  width:228px;
}
#u1092.c {
  border-width:0px;
  position:absolute;
  left:1053px;
  top:10099px;
  width:228px;
  height:210px;
}
#u1093.c {
  left:88px;
}
#u1093_img.c {
}
#u1093.c {
  left:88px;
}
#u1092_state0.c {
  width:228px;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u1095.c {
  left:804px;
  top:10099px;
  width:228px;
}
#u1095_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:210px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1095.c {
  left:804px;
  top:10099px;
  width:228px;
}
#u1096.c {
  left:842px;
  top:10175px;
  width:228px;
  height:58px;
}
#u1096_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1096.c {
  left:842px;
  top:10175px;
  width:228px;
  height:58px;
}
#u1096_text.c {
  width:228px;
}
#u1097.c {
  border-width:0px;
  position:absolute;
  left:1581px;
  top:10079px;
  width:228px;
  height:210px;
}
#u1098.c {
}
#u1098_img.c {
}
#u1098.c {
}
#u1099.c {
}
#u1099_img.c {
}
#u1099.c {
}
#u1100.c {
}
#u1100_img.c {
}
#u1100.c {
}
#u1101.c {
}
#u1101_img.c {
}
#u1101.c {
}
#u1102.c {
}
#u1102_img.c {
}
#u1102.c {
}
#u1097_state0.c {
  width:228px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u1104.c {
  left:1083px;
  top:10079px;
  width:228px;
}
#u1104_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:210px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1104.c {
  left:1083px;
  top:10079px;
  width:228px;
}
#u1105.c {
  left:1121px;
  top:10161px;
  width:228px;
  height:38px;
}
#u1105_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1105.c {
  left:1121px;
  top:10161px;
  width:228px;
  height:38px;
}
#u1105_text.c {
  width:228px;
}
#u1106.c {
  border-width:0px;
  position:absolute;
  left:274px;
  top:10099px;
  width:228px;
  height:210px;
}
#u1108.c {
  position:absolute;
  left:80px;
  top:74px;
}
#u1109.c {
}
#u1109_img.c {
}
#u1109.c {
}
#u1110.c {
}
#u1110_img.c {
}
#u1110.c {
}
#u1108_state0.c {
  position:relative;
  left:0px;
  top:0px;
  width:125px;
  height:250px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u1108_state1.c {
  position:relative;
  left:0px;
  top:0px;
  width:125px;
  height:250px;
  visibility:hidden;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u1111.c {
  left:80px;
  height:248px;
}
#u1111_img.c {
  height:248px;
}
#u1111.c {
  left:80px;
  height:248px;
}
#u1106_state0.c {
  width:228px;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u1113.c {
  left:25px;
  top:10099px;
  width:228px;
}
#u1113_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:210px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.749019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1113.c {
  left:25px;
  top:10099px;
  width:228px;
}
#u1114.c {
  left:63px;
  top:10175px;
  width:228px;
  height:58px;
}
#u1114_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u1114.c {
  left:63px;
  top:10175px;
  width:228px;
  height:58px;
}
#u1114_text.c {
  width:228px;
}
#u1115.c {
  left:854px;
  top:9779px;
  width:115px;
}
#u1115_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Work Sans', 'Frutiger CE 45', 'Roboto', 'Arial';
  font-weight:300;
  font-style:bold;
  font-size:16px;
  text-align:center;
}
#u1115.c {
  left:854px;
  top:9779px;
  width:115px;
}
#u1115_text.c {
  width:115px;
}
#u1116.c {
  left:1126px;
  top:9779px;
  width:228px;
}
#u1116_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Work Sans', 'Frutiger CE 45', 'Roboto', 'Arial';
  font-weight:300;
  font-style:bold;
  font-size:16px;
  text-align:center;
}
#u1116.c {
  left:1126px;
  top:9779px;
  width:228px;
}
#u1116_text.c {
  width:228px;
}
#u1117.c {
  left:843px;
  top:10049px;
  width:228px;
}
#u1117_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Work Sans', 'Frutiger CE 45', 'Roboto', 'Arial';
  font-weight:300;
  font-style:bold;
  font-size:16px;
  text-align:center;
}
#u1117.c {
  left:843px;
  top:10049px;
  width:228px;
}
#u1117_text.c {
  width:228px;
}
#u1118.c {
  left:1105px;
  top:10321px;
  width:228px;
  height:19px;
}
#u1118_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Work Sans', 'Frutiger CE 45', 'Roboto', 'Arial';
  font-weight:300;
  font-style:bold;
  font-size:16px;
  text-align:center;
}
#u1118.c {
  left:1105px;
  top:10321px;
  width:228px;
  height:19px;
}
#u1118_text.c {
  width:228px;
}
#u1119.c {
  left:1375px;
  top:9779px;
  width:228px;
}
#u1119_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Work Sans', 'Frutiger CE 45', 'Roboto', 'Arial';
  font-weight:300;
  font-style:bold;
  font-size:16px;
  text-align:center;
}
#u1119.c {
  left:1375px;
  top:9779px;
  width:228px;
}
#u1119_text.c {
  width:228px;
}
#u1120.c {
  left:1077px;
  top:10319px;
  width:228px;
  height:19px;
}
#u1120_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Work Sans', 'Frutiger CE 45', 'Roboto', 'Arial';
  font-weight:300;
  font-style:bold;
  font-size:16px;
  text-align:center;
}
#u1120.c {
  left:1077px;
  top:10319px;
  width:228px;
  height:19px;
}
#u1120_text.c {
  width:228px;
}
#u1121.c {
  left:579px;
  top:10319px;
  width:228px;
}
#u1121_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Work Sans', 'Frutiger CE 45', 'Roboto', 'Arial';
  font-weight:300;
  font-style:bold;
  font-size:16px;
  text-align:center;
}
#u1121.c {
  left:579px;
  top:10319px;
  width:228px;
}
#u1121_text.c {
  width:228px;
}
#u1122.c {
  left:828px;
  top:10319px;
  width:228px;
}
#u1122_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Work Sans', 'Frutiger CE 45', 'Roboto', 'Arial';
  font-weight:300;
  font-style:bold;
  font-size:16px;
  text-align:center;
}
#u1122.c {
  left:828px;
  top:10319px;
  width:228px;
}
#u1122_text.c {
  width:228px;
}
#u1123.c {
  left:797px;
  top:9559px;
  width:228px;
}
#u1124.c {
  left:1053px;
  top:9559px;
  width:228px;
}
#u1125.c {
  left:1324px;
  top:9658px;
  width:228px;
}
#u1126.c {
  left:1562px;
  top:10273px;
  width:228px;
}
#u1127.c {
  left:797px;
  top:9829px;
  width:228px;
}
#u1128.c {
  left:1053px;
  top:10099px;
  width:228px;
}
#u1129.c {
  left:1581px;
  top:10079px;
  width:228px;
}
#u1130.c {
  left:274px;
  top:10099px;
  width:228px;
}
#u1131.c {
  position:absolute;
  left:0px;
  top:10080px;
  width:1080px;
  height:50px;
}
#u1132.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10080px;
  width:1080px;
  height:50px;
}
#u1132_state0.c {
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
}
#u1133.c {
}
#u1133_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u1133.c {
}
#u1133_text.c {
}
#u1134.c {
}
#u1134_img.c {
}
#u1134.c {
}
#u1134_img.c.mouseOver {
}
#u1134.c.mouseOver {
}
#u1135.c {
}
#u1135_img.c {
}
#u1135.c {
}
#u1135_img.c.mouseOver {
}
#u1135.c.mouseOver {
}
#u1136.c {
}
#u1136_img.c {
}
#u1136.c {
}
#u1136_img.c.mouseOver {
}
#u1136.c.mouseOver {
}
#u1137.c {
}
#u1137_img.c {
}
#u1137.c {
}
#u1137_img.c.mouseOver {
}
#u1137.c.mouseOver {
}
#u1139.c {
  left:64px;
  top:844px;
  width:894px;
}
#u1139_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:894px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Negreta', 'Times New Roman Normal', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
  text-align:center;
  line-height:24px;
}
#u1139.c {
  left:64px;
  top:844px;
  width:894px;
}
#u1139_text.c {
  width:894px;
}
#u1141.c {
  left:23px;
  top:811px;
}
#u1141_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:977px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Work Sans', 'Frutiger CE 45', 'Roboto', 'Arial';
  font-weight:300;
  font-style:bold;
  font-size:20px;
  color:#666666;
  text-align:center;
}
#u1141.c {
  left:23px;
  top:811px;
}
#u1141_text.c {
}
#u1143.c {
  left:549px;
  top:822px;
}
#u1143_img.c {
}
#u1143.c {
  left:549px;
  top:822px;
}
#u1144.c {
  left:0px;
  top:822px;
}
#u1144_img.c {
}
#u1144.c {
  left:0px;
  top:822px;
}
#u1146.c {
  left:23px;
  top:9470px;
}
#u1146_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:977px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Work Sans', 'Frutiger CE 45', 'Roboto', 'Arial';
  font-weight:300;
  font-style:bold;
  font-size:20px;
  color:#666666;
  text-align:center;
}
#u1146.c {
  left:23px;
  top:9470px;
}
#u1146_text.c {
}
#u1148.c {
  left:656px;
  top:9481px;
}
#u1148_img.c {
}
#u1148.c {
  left:656px;
  top:9481px;
}
#u1149.c {
  left:0px;
  top:9481px;
}
#u1149_img.c {
}
#u1149.c {
  left:0px;
  top:9481px;
}
