body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:840px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2820_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:683px;
  height:512px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2820 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:683px;
  height:512px;
}
#u2820_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2821_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2821 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:111px;
  width:667px;
  height:43px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2821_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  white-space:nowrap;
}
#u2822_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:40px;
  background:inherit;
  background-color:rgba(40, 155, 104, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:900;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2822 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:30px;
  width:158px;
  height:40px;
  font-family:'Roboto';
  font-weight:900;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2822_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:154px;
  word-wrap:break-word;
}
#u2823 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:71px;
}
#u2824 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:252px;
  width:312px;
  height:71px;
}
#u2824_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:9px;
}
#u2825 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:262px;
  width:246px;
  height:9px;
}
#u2825_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:82px;
}
#u2826 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:165px;
  width:94px;
  height:82px;
}
#u2826_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2827_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2827 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:111px;
  width:341px;
  height:43px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2827_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u2828 {
  position:absolute;
  left:244px;
  top:454px;
}
#u2828_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:196px;
  height:60px;
  background-image:none;
}
#u2828_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:60px;
}
#u2829 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:0px;
  width:89px;
  height:60px;
}
#u2829_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:34px;
}
#u2830 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:18px;
  width:27px;
  height:34px;
}
#u2830_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u2831 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:34px;
  height:34px;
}
#u2831_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u2832 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:17px;
  width:35px;
  height:35px;
}
#u2832_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2828_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:196px;
  height:60px;
  visibility:hidden;
  background-image:none;
}
#u2828_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:60px;
}
#u2833 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:0px;
  width:89px;
  height:60px;
}
#u2833_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:34px;
}
#u2834 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:18px;
  width:27px;
  height:34px;
}
#u2834_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u2835 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:34px;
  height:34px;
}
#u2835_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u2836 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:17px;
  width:35px;
  height:35px;
}
#u2836_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2837 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:20px;
  height:20px;
  font-family:'Work Sans', 'Frutiger CE 45', 'Roboto', 'Arial';
  font-weight:500;
  font-style:bold;
  font-size:14px;
  color:#FFFFFF;
}
#u2837_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  word-wrap:break-word;
}
#u2828_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:196px;
  height:60px;
  visibility:hidden;
  background-image:none;
}
#u2828_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:60px;
}
#u2838 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:0px;
  width:89px;
  height:60px;
}
#u2838_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:34px;
}
#u2839 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:18px;
  width:27px;
  height:34px;
}
#u2839_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u2840 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:34px;
  height:34px;
}
#u2840_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u2841 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:17px;
  width:35px;
  height:35px;
}
#u2841_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2842 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:20px;
  height:20px;
  font-family:'Work Sans', 'Frutiger CE 45', 'Roboto', 'Arial';
  font-weight:500;
  font-style:bold;
  font-size:14px;
  color:#FFFFFF;
}
#u2842_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:683px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u2820.a {
}
#u2820_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:683px;
  height:512px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2820.a {
}
#u2821.a {
  width:345px;
  height:22px;
}
#u2821_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2821.a {
  width:345px;
  height:22px;
}
#u2821_text.a {
}
#u2822.a {
}
#u2822_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:40px;
  background:inherit;
  background-color:rgba(40, 155, 104, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:900;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2822.a {
}
#u2822_text.a {
}
#u2824.a {
}
#u2824_img.a {
}
#u2824.a {
}
#u2825.a {
}
#u2825_img.a {
}
#u2825.a {
}
#u2826.a {
}
#u2826_img.a {
}
#u2826.a {
}
#u2827.a {
  width:177px;
  height:22px;
}
#u2827_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2827.a {
  width:177px;
  height:22px;
}
#u2827_text.a {
}
#u2828.a {
  position:absolute;
  left:244px;
  top:454px;
}
#u2829.a {
}
#u2829_img.a {
}
#u2829.a {
}
#u2830.a {
}
#u2830_img.a {
}
#u2830.a {
}
#u2831.a {
}
#u2831_img.a {
}
#u2831.a {
}
#u2832.a {
}
#u2832_img.a {
}
#u2832.a {
}
#u2833.a {
}
#u2833_img.a {
}
#u2833.a {
}
#u2834.a {
}
#u2834_img.a {
}
#u2834.a {
}
#u2835.a {
}
#u2835_img.a {
}
#u2835.a {
}
#u2836.a {
}
#u2836_img.a {
}
#u2836.a {
}
#u2837.a {
}
#u2837_img.a {
}
#u2837.a {
}
#u2837_text.a {
}
#u2838.a {
}
#u2838_img.a {
}
#u2838.a {
}
#u2839.a {
}
#u2839_img.a {
}
#u2839.a {
}
#u2840.a {
}
#u2840_img.a {
}
#u2840.a {
}
#u2841.a {
}
#u2841_img.a {
}
#u2841.a {
}
#u2842.a {
}
#u2842_img.a {
}
#u2842.a {
}
#u2842_text.a {
}
#u2828_state0.a {
  position:relative;
  left:0px;
  top:0px;
  width:196px;
  height:60px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2828_state1.a {
  position:relative;
  left:0px;
  top:0px;
  width:196px;
  height:60px;
  visibility:hidden;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2828_state2.a {
  position:relative;
  left:0px;
  top:0px;
  width:196px;
  height:60px;
  visibility:hidden;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
body.b {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:683px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u2820.b {
}
#u2820_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:683px;
  height:512px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2820.b {
}
#u2821.b {
  width:345px;
  height:22px;
}
#u2821_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2821.b {
  width:345px;
  height:22px;
}
#u2821_text.b {
}
#u2822.b {
}
#u2822_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:40px;
  background:inherit;
  background-color:rgba(40, 155, 104, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:900;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2822.b {
}
#u2822_text.b {
}
#u2824.b {
}
#u2824_img.b {
}
#u2824.b {
}
#u2825.b {
}
#u2825_img.b {
}
#u2825.b {
}
#u2826.b {
}
#u2826_img.b {
}
#u2826.b {
}
#u2827.b {
  width:177px;
  height:22px;
}
#u2827_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2827.b {
  width:177px;
  height:22px;
}
#u2827_text.b {
}
#u2828.b {
  position:absolute;
  left:244px;
  top:454px;
}
#u2829.b {
}
#u2829_img.b {
}
#u2829.b {
}
#u2830.b {
}
#u2830_img.b {
}
#u2830.b {
}
#u2831.b {
}
#u2831_img.b {
}
#u2831.b {
}
#u2832.b {
}
#u2832_img.b {
}
#u2832.b {
}
#u2833.b {
}
#u2833_img.b {
}
#u2833.b {
}
#u2834.b {
}
#u2834_img.b {
}
#u2834.b {
}
#u2835.b {
}
#u2835_img.b {
}
#u2835.b {
}
#u2836.b {
}
#u2836_img.b {
}
#u2836.b {
}
#u2837.b {
}
#u2837_img.b {
}
#u2837.b {
}
#u2837_text.b {
}
#u2838.b {
}
#u2838_img.b {
}
#u2838.b {
}
#u2839.b {
}
#u2839_img.b {
}
#u2839.b {
}
#u2840.b {
}
#u2840_img.b {
}
#u2840.b {
}
#u2841.b {
}
#u2841_img.b {
}
#u2841.b {
}
#u2842.b {
}
#u2842_img.b {
}
#u2842.b {
}
#u2842_text.b {
}
#u2828_state0.b {
  position:relative;
  left:0px;
  top:0px;
  width:196px;
  height:60px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2828_state1.b {
  position:relative;
  left:0px;
  top:0px;
  width:196px;
  height:60px;
  visibility:hidden;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2828_state2.b {
  position:relative;
  left:0px;
  top:0px;
  width:196px;
  height:60px;
  visibility:hidden;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
body.c {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:683px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u2820.c {
}
#u2820_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:683px;
  height:512px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2820.c {
}
#u2821.c {
  width:345px;
  height:22px;
}
#u2821_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2821.c {
  width:345px;
  height:22px;
}
#u2821_text.c {
}
#u2822.c {
}
#u2822_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:40px;
  background:inherit;
  background-color:rgba(40, 155, 104, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:900;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2822.c {
}
#u2822_text.c {
}
#u2824.c {
}
#u2824_img.c {
}
#u2824.c {
}
#u2825.c {
}
#u2825_img.c {
}
#u2825.c {
}
#u2826.c {
}
#u2826_img.c {
}
#u2826.c {
}
#u2827.c {
  width:177px;
  height:22px;
}
#u2827_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2827.c {
  width:177px;
  height:22px;
}
#u2827_text.c {
}
#u2828.c {
  position:absolute;
  left:244px;
  top:454px;
}
#u2829.c {
}
#u2829_img.c {
}
#u2829.c {
}
#u2830.c {
}
#u2830_img.c {
}
#u2830.c {
}
#u2831.c {
}
#u2831_img.c {
}
#u2831.c {
}
#u2832.c {
}
#u2832_img.c {
}
#u2832.c {
}
#u2833.c {
}
#u2833_img.c {
}
#u2833.c {
}
#u2834.c {
}
#u2834_img.c {
}
#u2834.c {
}
#u2835.c {
}
#u2835_img.c {
}
#u2835.c {
}
#u2836.c {
}
#u2836_img.c {
}
#u2836.c {
}
#u2837.c {
}
#u2837_img.c {
}
#u2837.c {
}
#u2837_text.c {
}
#u2838.c {
}
#u2838_img.c {
}
#u2838.c {
}
#u2839.c {
}
#u2839_img.c {
}
#u2839.c {
}
#u2840.c {
}
#u2840_img.c {
}
#u2840.c {
}
#u2841.c {
}
#u2841_img.c {
}
#u2841.c {
}
#u2842.c {
}
#u2842_img.c {
}
#u2842.c {
}
#u2842_text.c {
}
#u2828_state0.c {
  position:relative;
  left:0px;
  top:0px;
  width:196px;
  height:60px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2828_state1.c {
  position:relative;
  left:0px;
  top:0px;
  width:196px;
  height:60px;
  visibility:hidden;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2828_state2.c {
  position:relative;
  left:0px;
  top:0px;
  width:196px;
  height:60px;
  visibility:hidden;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
