body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:480px;
  overflow:hidden;
}
#u160_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:480px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/about/u76_state0.png');
  background-position:center center;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:cover;
}
#u160_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:480px;
  width:1080px;
  height:980px;
  overflow:hidden;
}
#u161_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:980px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u161_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:674px;
  top:43px;
  width:47px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u163_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:826px;
  top:43px;
  width:55px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u164_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:43px;
  width:42px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u165_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:43px;
  width:39px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u166_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:42px;
  width:47px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u167_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:42px;
  width:55px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u168_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:42px;
  width:42px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u169_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u170_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  text-align:center;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:42px;
  width:39px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  text-align:center;
}
#u170_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:23px;
  width:100px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u172 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:23px;
  width:100px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u173 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:23px;
  width:100px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u174 {
  border-width:0px;
  position:absolute;
  left:802px;
  top:23px;
  width:100px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u175 {
  position:fixed;
  right:30px;
  bottom:20px;
  visibility:hidden;
}
#u175_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
  background-image:none;
}
#u175_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 1px rgba(0, 0, 0, 0.349019607843137);
}
#u176 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u176_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.349019607843137), 1px 1px 1px 1px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.349019607843137), 1px 1px 1px 1px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:1px 1px 1px rgba(0, 0, 0, 0.349019607843137), 1px 1px 1px 1px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u176.mouseDown {
}
#u176_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:49px;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:8px;
  width:42px;
  height:49px;
}
#u177_img.mouseOver {
}
#u177.mouseOver {
  opacity:0.8;
}
#u177_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-10px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:29px;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:35px;
  width:36px;
  height:29px;
}
#u179_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1460px;
  width:1080px;
  height:50px;
  overflow:hidden;
}
#u181_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
}
#u181_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:1478px;
  width:207px;
  height:14px;
  font-size:12px;
  color:#CCCCCC;
}
#u182_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  white-space:nowrap;
}
#u183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:26px;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:852px;
  top:1472px;
  width:19px;
  height:26px;
}
#u183_img.mouseOver {
}
#u183.mouseOver {
}
#u183_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:895px;
  top:1478px;
  width:19px;
  height:16px;
}
#u184_img.mouseOver {
}
#u184.mouseOver {
}
#u184_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:1474px;
  width:23px;
  height:22px;
}
#u185_img.mouseOver {
}
#u185.mouseOver {
}
#u185_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  line-height:20px;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:530px;
  width:323px;
  height:40px;
  font-size:24px;
  line-height:20px;
}
#u186_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:323px;
  word-wrap:break-word;
}
#u187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:217px;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:1130px;
  width:289px;
  height:217px;
}
#u187_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:217px;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:605px;
  width:289px;
  height:217px;
}
#u188_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:216px;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:868px;
  width:289px;
  height:216px;
}
#u189_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:815px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  line-height:36px;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:208px;
  width:815px;
  height:140px;
  color:#000000;
  line-height:36px;
}
#u191_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:815px;
  word-wrap:break-word;
}
#u192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:815px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:36px;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:208px;
  width:815px;
  height:140px;
  color:#FFFFFF;
  line-height:36px;
}
#u192_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:815px;
  word-wrap:break-word;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:20px;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:701px;
  width:577px;
  height:75px;
  font-size:14px;
  line-height:20px;
}
#u194_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  word-wrap:break-word;
}
#u195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  line-height:20px;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:651px;
  width:323px;
  height:40px;
  font-size:22px;
  line-height:20px;
}
#u195_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:323px;
  word-wrap:break-word;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:559px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:20px;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:961px;
  width:559px;
  height:75px;
  font-size:14px;
  line-height:20px;
}
#u197_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:559px;
  word-wrap:break-word;
}
#u198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  line-height:20px;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:911px;
  width:323px;
  height:40px;
  font-size:22px;
  line-height:20px;
}
#u198_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:323px;
  word-wrap:break-word;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:559px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:20px;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:1220px;
  width:559px;
  height:87px;
  font-size:14px;
  line-height:20px;
}
#u200_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:559px;
  word-wrap:break-word;
}
#u201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  line-height:20px;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:1170px;
  width:323px;
  height:40px;
  font-size:22px;
  line-height:20px;
}
#u201_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:323px;
  word-wrap:break-word;
}
#u202 {
  position:fixed;
  left:50%;
  margin-left:-540px;
  top:0px;
  width:1080px;
  height:50px;
  overflow:hidden;
  visibility:hidden;
}
#u202_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u202_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:766px;
  top:16px;
  width:51px;
  height:18px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u203_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:871px;
  top:16px;
  width:59px;
  height:18px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u204_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:16px;
  width:46px;
  height:18px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u205_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:16px;
  width:44px;
  height:18px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u206_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:15px;
  width:120px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u207_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3001px;
  height:2px;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:-1000px;
  top:49px;
  width:3000px;
  height:1px;
}
#u208_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:0px;
  width:100px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u210 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:0px;
  width:100px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u211 {
  border-width:0px;
  position:absolute;
  left:742px;
  top:0px;
  width:100px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u212 {
  border-width:0px;
  position:absolute;
  left:851px;
  top:0px;
  width:100px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u213 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:15px;
  width:29px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u214_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:1491px;
  width:1024px;
  height:49px;
  overflow:hidden;
}
#u216_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:49px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
}
#u216_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:1509px;
  width:207px;
  height:14px;
  font-size:12px;
  color:#CCCCCC;
}
#u217_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  white-space:nowrap;
}
#u218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:26px;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:957px;
  top:1503px;
  width:18px;
  height:26px;
}
#u218_img.mouseOver {
}
#u218.mouseOver {
}
#u218_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:916px;
  top:1505px;
  width:22px;
  height:22px;
}
#u219_img.mouseOver {
}
#u219.mouseOver {
}
#u219_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:998px;
  top:1509px;
  width:19px;
  height:16px;
}
#u220_img.mouseOver {
}
#u220.mouseOver {
}
#u220_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u160.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:480px;
}
#u160_state0.a {
  width:1024px;
  background-color:rgba(255, 255, 255, 0);
  background-image:url('../../images/about/u76_state0.png');
  background-position:center center;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:cover;
}
#u161.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:480px;
  width:1024px;
  height:980px;
}
#u161_state0.a {
  width:1024px;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u163.a {
  left:639px;
}
#u163_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u163.a {
  left:639px;
}
#u163_text.a {
}
#u164.a {
  left:783px;
}
#u164_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u164.a {
  left:783px;
}
#u164_text.a {
}
#u165.a {
  left:347px;
}
#u165_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u165.a {
  left:347px;
}
#u165_text.a {
}
#u166.a {
  left:200px;
}
#u166_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u166.a {
  left:200px;
}
#u166_text.a {
}
#u167.a {
  left:638px;
}
#u167_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u167.a {
  left:638px;
}
#u167_text.a {
}
#u168.a {
  left:782px;
}
#u168_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u168.a {
  left:782px;
}
#u168_text.a {
}
#u169.a {
  left:346px;
}
#u169_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u169.a {
  left:346px;
}
#u169_text.a {
}
#u170.a {
  left:199px;
}
#u170_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  text-align:center;
}
#u170.a {
  left:199px;
}
#u170_text.a {
}
#u171.a {
  left:319px;
  width:95px;
}
#u172.a {
  left:170px;
  width:95px;
}
#u173.a {
  left:613px;
  width:95px;
}
#u174.a {
  left:760px;
  width:95px;
}
#u175.a {
  position:fixed;
  right:30px;
  bottom:20px;
}
#u176.a {
}
#u176_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 1px rgba(0, 0, 0, 0.349019607843137);
}
#u176.a {
}
#u176_div.mouseDown.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.349019607843137), 1px 1px 1px 1px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.349019607843137), 1px 1px 1px 1px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:1px 1px 1px rgba(0, 0, 0, 0.349019607843137), 1px 1px 1px 1px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u176.a.mouseDown {
}
#u177.a {
}
#u177_img.a {
}
#u177.a {
}
#u177_img.a.mouseOver {
}
#u177.a.mouseOver {
}
#u175_state0.a {
  position:relative;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u178.a {
}
#u179.a {
  left:495px;
  width:34px;
}
#u179_img.a {
  width:34px;
}
#u179.a {
  left:495px;
  width:34px;
}
#u180.a {
  position:absolute;
  left:0px;
  top:1460px;
  width:1080px;
  height:50px;
}
#u181.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1460px;
  width:1080px;
  height:50px;
}
#u181_state0.a {
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
}
#u182.a {
}
#u182_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u182.a {
}
#u182_text.a {
}
#u183.a {
}
#u183_img.a {
}
#u183.a {
}
#u183_img.a.mouseOver {
}
#u183.a.mouseOver {
}
#u184.a {
}
#u184_img.a {
}
#u184.a {
}
#u184_img.a.mouseOver {
}
#u184.a.mouseOver {
}
#u185.a {
}
#u185_img.a {
}
#u185.a {
}
#u185_img.a.mouseOver {
}
#u185.a.mouseOver {
}
#u186.a {
}
#u186_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  line-height:20px;
}
#u186.a {
}
#u186_text.a {
}
#u187.a {
}
#u187_img.a {
}
#u187.a {
}
#u188.a {
}
#u188_img.a {
}
#u188.a {
}
#u189.a {
}
#u189_img.a {
}
#u189.a {
}
#u191.a {
  left:101px;
  width:824px;
}
#u191_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:824px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  line-height:36px;
}
#u191.a {
  left:101px;
  width:824px;
}
#u191_text.a {
  width:824px;
}
#u192.a {
  left:100px;
  width:825px;
}
#u192_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:825px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:36px;
}
#u192.a {
  left:100px;
  width:825px;
}
#u192_text.a {
  width:825px;
}
#u194.a {
}
#u194_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:20px;
}
#u194.a {
}
#u194_text.a {
}
#u195.a {
}
#u195_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  line-height:20px;
}
#u195.a {
}
#u195_text.a {
}
#u197.a {
}
#u197_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:559px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:20px;
}
#u197.a {
}
#u197_text.a {
}
#u198.a {
}
#u198_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  line-height:20px;
}
#u198.a {
}
#u198_text.a {
}
#u200.a {
}
#u200_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:559px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:20px;
}
#u200.a {
}
#u200_text.a {
}
#u201.a {
}
#u201_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  line-height:20px;
}
#u201.a {
}
#u201_text.a {
}
#u202.a {
  position:fixed;
  left:50%;
  margin-left:-512px;
  top:0px;
  width:1024px;
  height:50px;
  overflow:hidden;
}
#u203.a {
}
#u203_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u203.a {
}
#u203_text.a {
}
#u204.a {
}
#u204_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u204.a {
}
#u204_text.a {
}
#u205.a {
}
#u205_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u205.a {
}
#u205_text.a {
}
#u206.a {
}
#u206_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u206.a {
}
#u206_text.a {
}
#u207.a {
}
#u207_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u207.a {
}
#u207_text.a {
}
#u208.a {
}
#u208_img.a {
}
#u208.a {
}
#u209.a {
}
#u210.a {
}
#u211.a {
}
#u212.a {
}
#u214.a {
}
#u214_img.a {
}
#u214.a {
}
#u202_state0.a {
  width:1024px;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u215.a {
  position:absolute;
  left:0px;
  top:1460px;
  width:1024px;
  height:49px;
}
#u216.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1460px;
  width:1024px;
  height:49px;
}
#u216_state0.a {
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
}
#u217.a {
  left:142px;
  top:1478px;
}
#u217_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u217.a {
  left:142px;
  top:1478px;
}
#u217_text.a {
}
#u218.a {
  left:807px;
  top:1472px;
}
#u218_img.a {
}
#u218.a {
  left:807px;
  top:1472px;
}
#u218_img.a.mouseOver {
}
#u218.a.mouseOver {
}
#u219.a {
  left:766px;
  top:1474px;
}
#u219_img.a {
}
#u219.a {
  left:766px;
  top:1474px;
}
#u219_img.a.mouseOver {
}
#u219.a.mouseOver {
}
#u220.a {
  left:848px;
  top:1478px;
}
#u220_img.a {
}
#u220.a {
  left:848px;
  top:1478px;
}
#u220_img.a.mouseOver {
}
#u220.a.mouseOver {
}
body.b {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u160.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:480px;
}
#u160_state0.b {
  width:1024px;
  background-color:rgba(255, 255, 255, 0);
  background-image:url('../../images/about/u76_state0.png');
  background-position:center center;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:cover;
}
#u161.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:480px;
  width:1024px;
  height:980px;
}
#u161_state0.b {
  width:1024px;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u163.b {
  left:639px;
}
#u163_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u163.b {
  left:639px;
}
#u163_text.b {
}
#u164.b {
  left:783px;
}
#u164_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u164.b {
  left:783px;
}
#u164_text.b {
}
#u165.b {
  left:347px;
}
#u165_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u165.b {
  left:347px;
}
#u165_text.b {
}
#u166.b {
  left:200px;
}
#u166_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u166.b {
  left:200px;
}
#u166_text.b {
}
#u167.b {
  left:638px;
}
#u167_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u167.b {
  left:638px;
}
#u167_text.b {
}
#u168.b {
  left:782px;
}
#u168_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u168.b {
  left:782px;
}
#u168_text.b {
}
#u169.b {
  left:346px;
}
#u169_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u169.b {
  left:346px;
}
#u169_text.b {
}
#u170.b {
  left:199px;
}
#u170_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  text-align:center;
}
#u170.b {
  left:199px;
}
#u170_text.b {
}
#u171.b {
  left:319px;
  width:95px;
}
#u172.b {
  left:170px;
  width:95px;
}
#u173.b {
  left:613px;
  width:95px;
}
#u174.b {
  left:760px;
  width:95px;
}
#u175.b {
  position:fixed;
  right:30px;
  bottom:20px;
}
#u176.b {
}
#u176_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 1px rgba(0, 0, 0, 0.349019607843137);
}
#u176.b {
}
#u176_div.mouseDown.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.349019607843137), 1px 1px 1px 1px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.349019607843137), 1px 1px 1px 1px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:1px 1px 1px rgba(0, 0, 0, 0.349019607843137), 1px 1px 1px 1px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u176.b.mouseDown {
}
#u177.b {
}
#u177_img.b {
}
#u177.b {
}
#u177_img.b.mouseOver {
}
#u177.b.mouseOver {
}
#u175_state0.b {
  position:relative;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u178.b {
}
#u179.b {
  left:495px;
  width:34px;
}
#u179_img.b {
  width:34px;
}
#u179.b {
  left:495px;
  width:34px;
}
#u180.b {
  position:absolute;
  left:0px;
  top:1460px;
  width:1080px;
  height:50px;
}
#u181.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1460px;
  width:1080px;
  height:50px;
}
#u181_state0.b {
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
}
#u182.b {
}
#u182_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u182.b {
}
#u182_text.b {
}
#u183.b {
}
#u183_img.b {
}
#u183.b {
}
#u183_img.b.mouseOver {
}
#u183.b.mouseOver {
}
#u184.b {
}
#u184_img.b {
}
#u184.b {
}
#u184_img.b.mouseOver {
}
#u184.b.mouseOver {
}
#u185.b {
}
#u185_img.b {
}
#u185.b {
}
#u185_img.b.mouseOver {
}
#u185.b.mouseOver {
}
#u186.b {
}
#u186_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  line-height:20px;
}
#u186.b {
}
#u186_text.b {
}
#u187.b {
}
#u187_img.b {
}
#u187.b {
}
#u188.b {
}
#u188_img.b {
}
#u188.b {
}
#u189.b {
}
#u189_img.b {
}
#u189.b {
}
#u191.b {
  left:101px;
  width:824px;
}
#u191_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:824px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  line-height:36px;
}
#u191.b {
  left:101px;
  width:824px;
}
#u191_text.b {
  width:824px;
}
#u192.b {
  left:100px;
  width:825px;
}
#u192_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:825px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:36px;
}
#u192.b {
  left:100px;
  width:825px;
}
#u192_text.b {
  width:825px;
}
#u194.b {
}
#u194_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:20px;
}
#u194.b {
}
#u194_text.b {
}
#u195.b {
}
#u195_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  line-height:20px;
}
#u195.b {
}
#u195_text.b {
}
#u197.b {
}
#u197_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:559px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:20px;
}
#u197.b {
}
#u197_text.b {
}
#u198.b {
}
#u198_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  line-height:20px;
}
#u198.b {
}
#u198_text.b {
}
#u200.b {
}
#u200_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:559px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:20px;
}
#u200.b {
}
#u200_text.b {
}
#u201.b {
}
#u201_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  line-height:20px;
}
#u201.b {
}
#u201_text.b {
}
#u202.b {
  position:fixed;
  left:50%;
  margin-left:-512px;
  top:0px;
  width:1024px;
  height:50px;
  overflow:hidden;
}
#u203.b {
}
#u203_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u203.b {
}
#u203_text.b {
}
#u204.b {
}
#u204_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u204.b {
}
#u204_text.b {
}
#u205.b {
}
#u205_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u205.b {
}
#u205_text.b {
}
#u206.b {
}
#u206_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u206.b {
}
#u206_text.b {
}
#u207.b {
}
#u207_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u207.b {
}
#u207_text.b {
}
#u208.b {
}
#u208_img.b {
}
#u208.b {
}
#u209.b {
}
#u210.b {
}
#u211.b {
}
#u212.b {
}
#u214.b {
}
#u214_img.b {
}
#u214.b {
}
#u202_state0.b {
  width:1024px;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u215.b {
  position:absolute;
  left:0px;
  top:1460px;
  width:1024px;
  height:49px;
}
#u216.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1460px;
  width:1024px;
  height:49px;
}
#u216_state0.b {
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
}
#u217.b {
  left:142px;
  top:1478px;
}
#u217_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u217.b {
  left:142px;
  top:1478px;
}
#u217_text.b {
}
#u218.b {
  left:807px;
  top:1472px;
}
#u218_img.b {
}
#u218.b {
  left:807px;
  top:1472px;
}
#u218_img.b.mouseOver {
}
#u218.b.mouseOver {
}
#u219.b {
  left:766px;
  top:1474px;
}
#u219_img.b {
}
#u219.b {
  left:766px;
  top:1474px;
}
#u219_img.b.mouseOver {
}
#u219.b.mouseOver {
}
#u220.b {
  left:848px;
  top:1478px;
}
#u220_img.b {
}
#u220.b {
  left:848px;
  top:1478px;
}
#u220_img.b.mouseOver {
}
#u220.b.mouseOver {
}
