
#u1092_state0.b {
  position:relative;
  left:0px;
  top:0px;
  width:846px;
  height:93px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u1092_state1.b {
  position:relative;
  left:0px;
  top:0px;
  width:846px;
  height:93px;
  visibility:hidden;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u1115.b {
  left:101px;
  top:196px;
  width:73px;
  height:73px;
}
#u1116.b {
  left:222px;
  top:191px;
  width:70px;
  height:70px;
}
#u1117.b {
  left:355px;
  top:141px;
  width:75px;
  height:75px;
}
#u1118.b {
  left:480px;
  top:122px;
  width:74px;
  height:74px;
}
#u1119.b {
  left:629px;
  top:176px;
  width:50px;
  height:50px;
}
#u1120.b {
  left:587px;
  top:201px;
  width:36px;
  height:36px;
}
#u1121.b {
  left:698px;
  top:212px;
  width:50px;
  height:50px;
}
#u1122.b {
  left:924px;
  top:181px;
  width:50px;
  height:50px;
}
#u1124.b {
  left:149px;
  top:347px;
  width:170px;
  height:70px;
}
#u1124_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1124.b {
  left:149px;
  top:347px;
  width:170px;
  height:70px;
}
#u1124_text.b {
  width:170px;
}
#u1126.b {
  left:150px;
  top:324px;
  width:19px;
  height:19px;
}
#u1126_img.b {
  width:19px;
  height:19px;
}
#u1126.b {
  left:150px;
  top:324px;
  width:19px;
  height:19px;
}
#u1127.b {
  left:156px;
  top:330px;
  width:3px;
  height:2px;
}
#u1127_img.b {
  width:3px;
  height:2px;
}
#u1127.b {
  left:156px;
  top:330px;
  width:3px;
  height:2px;
}
#u1128.b {
  left:162px;
  top:330px;
  width:2px;
  height:2px;
}
#u1128_img.b {
  width:2px;
  height:2px;
}
#u1128.b {
  left:162px;
  top:330px;
  width:2px;
  height:2px;
}
#u1129.b {
  left:155px;
  top:335px;
  width:10px;
  height:4px;
}
#u1129_img.b {
  width:10px;
  height:4px;
}
#u1129.b {
  left:155px;
  top:335px;
  width:10px;
  height:4px;
}
#u1130.b {
  left:138px;
  top:239px;
  height:87px;
}
#u1130_img.b {
  height:88px;
}
#u1130.b {
  left:138px;
  top:239px;
  height:87px;
}
#u1131.b {
  left:173px;
  top:324px;
  width:64px;
  height:22px;
}
#u1131_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#C6B191;
}
#u1131.b {
  left:173px;
  top:324px;
  width:64px;
  height:22px;
}
#u1131_text.b {
  width:64px;
}
#u1132.b {
  left:132px;
  top:326px;
  width:13px;
  height:13px;
}
#u1132_img.b {
  width:13px;
  height:13px;
}
#u1132.b {
  left:132px;
  top:326px;
  width:13px;
  height:13px;
}
#u1134.b {
  left:8px;
  top:36px;
  width:190px;
  height:67px;
}
#u1134_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u1134.b {
  left:8px;
  top:36px;
  width:190px;
  height:67px;
}
#u1134_text.b {
  width:190px;
}
#u1135.b {
  left:211px;
  top:24px;
  width:46px;
  height:196px;
}
#u1135_img.b {
  width:47px;
  height:197px;
}
#u1135p000.b {
  left:-41px;
  top:110px;
  width:172px;
}
#u1135p000_img.b {
  width:172px;
}
#u1135p001.b {
  left:13px;
  top:6px;
  width:44px;
  height:12px;
}
#u1135p001_img.b {
  width:44px;
  height:12px;
}
#u1135p002.b {
  left:-3px;
  width:22px;
  height:4px;
}
#u1135p002_img.b {
  width:22px;
  height:4px;
}
#u1135.b {
  left:211px;
  top:24px;
  width:46px;
  height:196px;
}
#u1136.b {
  left:121px;
  top:14px;
  width:79px;
  height:22px;
}
#u1136_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#2A9B68;
}
#u1136.b {
  left:121px;
  top:14px;
  width:79px;
  height:22px;
}
#u1136_text.b {
  width:79px;
}
#u1137.b {
  left:203px;
  top:18px;
  width:13px;
  height:13px;
}
#u1137_img.b {
  width:13px;
  height:13px;
}
#u1137.b {
  left:203px;
  top:18px;
  width:13px;
  height:13px;
}
#u1139.b {
  left:96px;
  top:13px;
  width:20px;
  height:20px;
}
#u1139_img.b {
  width:20px;
  height:20px;
}
#u1139.b {
  left:96px;
  top:13px;
  width:20px;
  height:20px;
}
#u1140.b {
  left:102px;
  top:19px;
  width:3px;
  height:2px;
}
#u1140_img.b {
  width:3px;
  height:2px;
}
#u1140.b {
  left:102px;
  top:19px;
  width:3px;
  height:2px;
}
#u1141.b {
  left:108px;
  top:19px;
  width:2px;
  height:2px;
}
#u1141_img.b {
  width:2px;
  height:2px;
}
#u1141.b {
  left:108px;
  top:19px;
  width:2px;
  height:2px;
}
#u1142.b {
  left:102px;
  top:25px;
  width:10px;
  height:4px;
}
#u1142_img.b {
  width:10px;
  height:4px;
}
#u1142.b {
  left:102px;
  top:25px;
  width:10px;
  height:4px;
}
#u1144.b {
  left:345px;
  top:183px;
  width:48px;
  height:135px;
}
#u1144_img.b {
  width:49px;
  height:136px;
}
#u1144p000.b {
  left:-9px;
  top:49px;
  width:112px;
}
#u1144p000_img.b {
  width:112px;
}
#u1144p001.b {
  left:15px;
  top:117px;
  width:44px;
  height:12px;
}
#u1144p001_img.b {
  width:44px;
  height:12px;
}
#u1144p002.b {
  left:-3px;
  top:133px;
  width:24px;
  height:4px;
}
#u1144p002_img.b {
  width:24px;
  height:4px;
}
#u1144.b {
  left:345px;
  top:183px;
  width:48px;
  height:135px;
}
#u1145.b {
  left:266px;
  top:307px;
  width:66px;
  height:22px;
}
#u1145_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#2A9B68;
}
#u1145.b {
  left:266px;
  top:307px;
  width:66px;
  height:22px;
}
#u1145_text.b {
  width:66px;
}
#u1146.b {
  left:337px;
  top:311px;
  width:13px;
  height:13px;
}
#u1146_img.b {
  width:13px;
  height:13px;
}
#u1146.b {
  left:337px;
  top:311px;
  width:13px;
  height:13px;
}
#u1148.b {
  left:242px;
  top:307px;
  width:20px;
  height:20px;
}
#u1148_img.b {
  width:20px;
  height:20px;
}
#u1148.b {
  left:242px;
  top:307px;
  width:20px;
  height:20px;
}
#u1149.b {
  left:247px;
  top:314px;
  width:4px;
  height:3px;
}
#u1149_img.b {
  width:4px;
  height:3px;
}
#u1149.b {
  left:247px;
  top:314px;
  width:4px;
  height:3px;
}
#u1150.b {
  left:253px;
  top:314px;
  width:3px;
  height:3px;
}
#u1150_img.b {
  width:3px;
  height:3px;
}
#u1150.b {
  left:253px;
  top:314px;
  width:3px;
  height:3px;
}
#u1151.b {
  left:247px;
  top:318px;
  width:10px;
  height:4px;
}
#u1151_img.b {
  width:10px;
  height:4px;
}
#u1151.b {
  left:247px;
  top:318px;
  width:10px;
  height:4px;
}
#u1152.b {
  left:111px;
  top:330px;
  width:222px;
  height:94px;
}
#u1152_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u1152.b {
  left:111px;
  top:330px;
  width:222px;
  height:94px;
}
#u1152_text.b {
  width:222px;
}
#u1153.b {
}
#u1153_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:right;
}
#u1153.b {
}
#u1153_text.b {
}
#u1155.b {
  left:689px;
  top:47px;
  width:301px;
  height:95px;
}
#u1155_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1155.b {
  left:689px;
  top:47px;
  width:301px;
  height:95px;
}
#u1155_text.b {
  width:301px;
}
#u1156.b {
  left:655px;
  top:42px;
  height:154px;
}
#u1156_img.b {
  height:155px;
}
#u1156.b {
  left:655px;
  top:42px;
  height:154px;
}
#u1157.b {
  left:689px;
  top:26px;
  width:47px;
  height:22px;
}
#u1157_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#2A9B68;
}
#u1157.b {
  left:689px;
  top:26px;
  width:47px;
  height:22px;
}
#u1157_text.b {
  width:47px;
}
#u1158.b {
  left:649px;
  top:29px;
  width:13px;
  height:13px;
}
#u1158_img.b {
  width:13px;
  height:13px;
}
#u1158.b {
  left:649px;
  top:29px;
  width:13px;
  height:13px;
}
#u1160.b {
  left:667px;
  top:26px;
  width:20px;
  height:20px;
}
#u1160_img.b {
  width:20px;
  height:20px;
}
#u1160.b {
  left:667px;
  top:26px;
  width:20px;
  height:20px;
}
#u1161.b {
  left:673px;
  top:32px;
  width:3px;
  height:2px;
}
#u1161_img.b {
  width:3px;
  height:2px;
}
#u1161.b {
  left:673px;
  top:32px;
  width:3px;
  height:2px;
}
#u1162.b {
  left:680px;
  top:32px;
  width:3px;
  height:2px;
}
#u1162_img.b {
  width:3px;
  height:2px;
}
#u1162.b {
  left:680px;
  top:32px;
  width:3px;
  height:2px;
}
#u1163.b {
  left:673px;
  top:37px;
  width:8px;
  height:3px;
}
#u1163_img.b {
  width:8px;
  height:3px;
}
#u1163.b {
  left:673px;
  top:37px;
  width:8px;
  height:3px;
}
#u1165.b {
  left:665px;
  top:25px;
  width:20px;
  height:20px;
}
#u1165_img.b {
  width:20px;
  height:20px;
}
#u1165.b {
  left:665px;
  top:25px;
  width:20px;
  height:20px;
}
#u1166.b {
  left:670px;
  top:30px;
  width:4px;
  height:3px;
}
#u1166_img.b {
  width:4px;
  height:3px;
}
#u1166.b {
  left:670px;
  top:30px;
  width:4px;
  height:3px;
}
#u1167.b {
  left:677px;
  top:30px;
  width:3px;
  height:3px;
}
#u1167_img.b {
  width:3px;
  height:3px;
}
#u1167.b {
  left:677px;
  top:30px;
  width:3px;
  height:3px;
}
#u1168.b {
  left:670px;
  top:37px;
  width:10px;
  height:5px;
}
#u1168_img.b {
  width:10px;
  height:5px;
}
#u1168.b {
  left:670px;
  top:37px;
  width:10px;
  height:5px;
}
#u1170.b {
  left:732px;
  top:360px;
  width:269px;
  height:76px;
}
#u1170_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1170.b {
  left:732px;
  top:360px;
  width:269px;
  height:76px;
}
#u1170_text.b {
  width:269px;
}
#u1171.b {
  left:721px;
  top:240px;
  height:102px;
}
#u1171_img.b {
  height:103px;
}
#u1171.b {
  left:721px;
  top:240px;
  height:102px;
}
#u1172.b {
  left:753px;
  top:338px;
  width:63px;
  height:22px;
}
#u1172_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#C6B191;
}
#u1172.b {
  left:753px;
  top:338px;
  width:63px;
  height:22px;
}
#u1172_text.b {
  width:63px;
}
#u1173.b {
  left:715px;
  top:341px;
  width:13px;
  height:13px;
}
#u1173_img.b {
  width:13px;
  height:13px;
}
#u1173.b {
  left:715px;
  top:341px;
  width:13px;
  height:13px;
}
#u1175.b {
  left:732px;
  top:338px;
  width:20px;
  height:20px;
}
#u1175_img.b {
  width:20px;
  height:20px;
}
#u1175.b {
  left:732px;
  top:338px;
  width:20px;
  height:20px;
}
#u1176.b {
  left:737px;
  top:343px;
  width:4px;
  height:4px;
}
#u1176_img.b {
  width:4px;
  height:4px;
}
#u1176.b {
  left:737px;
  top:343px;
  width:4px;
  height:4px;
}
#u1177.b {
  left:743px;
  top:343px;
  width:4px;
  height:4px;
}
#u1177_img.b {
  width:4px;
  height:4px;
}
#u1177.b {
  left:743px;
  top:343px;
  width:4px;
  height:4px;
}
#u1178.b {
  left:737px;
  top:349px;
  width:10px;
  height:5px;
}
#u1178_img.b {
  width:10px;
  height:5px;
}
#u1178.b {
  left:737px;
  top:349px;
  width:10px;
  height:5px;
}
#u1180.b {
  left:694px;
  top:59px;
  width:167px;
  height:43px;
}
#u1180_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u1180.b {
  left:694px;
  top:59px;
  width:167px;
  height:43px;
}
#u1180_text.b {
  width:167px;
}
#u1181.b {
  left:878px;
  top:46px;
  width:71px;
  height:154px;
}
#u1181_img.b {
  width:72px;
  height:155px;
}
#u1181.b {
  left:878px;
  top:46px;
  width:71px;
  height:154px;
}
#u1182.b {
  left:775px;
  top:37px;
  width:87px;
  height:22px;
}
#u1182_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#2A9B68;
}
#u1182.b {
  left:775px;
  top:37px;
  width:87px;
  height:22px;
}
#u1182_text.b {
  width:87px;
}
#u1183.b {
  left:866px;
  top:40px;
  width:13px;
  height:13px;
}
#u1183_img.b {
  width:13px;
  height:13px;
}
#u1183.b {
  left:866px;
  top:40px;
  width:13px;
  height:13px;
}
#u1185.b {
  left:752px;
  top:37px;
  width:20px;
  height:20px;
}
#u1185_img.b {
  width:20px;
  height:20px;
}
#u1185.b {
  left:752px;
  top:37px;
  width:20px;
  height:20px;
}
#u1186.b {
  left:757px;
  top:43px;
  width:3px;
  height:3px;
}
#u1186_img.b {
  width:3px;
  height:3px;
}
#u1186.b {
  left:757px;
  top:43px;
  width:3px;
  height:3px;
}
#u1187.b {
  left:764px;
  top:43px;
  width:3px;
  height:3px;
}
#u1187_img.b {
  width:3px;
  height:3px;
}
#u1187.b {
  left:764px;
  top:43px;
  width:3px;
  height:3px;
}
#u1188.b {
  left:757px;
  top:49px;
  width:10px;
  height:4px;
}
#u1188_img.b {
  width:10px;
  height:4px;
}
#u1188.b {
  left:757px;
  top:49px;
  width:10px;
  height:4px;
}
#u1190.b {
  left:310px;
  top:318px;
  width:237px;
  height:82px;
}
#u1190_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u1190.b {
  left:310px;
  top:318px;
  width:237px;
  height:82px;
}
#u1190_text.b {
  width:237px;
}
#u1191.b {
  left:558px;
  top:226px;
  width:48px;
  height:79px;
}
#u1191_img.b {
  width:49px;
  height:80px;
}
#u1191.b {
  left:558px;
  top:226px;
  width:48px;
  height:79px;
}
#u1192.b {
  left:424px;
  top:294px;
  width:126px;
  height:22px;
}
#u1192_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#2A9B68;
}
#u1192.b {
  left:424px;
  top:294px;
  width:126px;
  height:22px;
}
#u1192_text.b {
  width:126px;
}
#u1193.b {
  left:550px;
  top:298px;
  width:13px;
  height:13px;
}
#u1193_img.b {
  width:13px;
  height:13px;
}
#u1193.b {
  left:550px;
  top:298px;
  width:13px;
  height:13px;
}
#u1195.b {
  left:399px;
  top:293px;
  width:21px;
  height:21px;
}
#u1195_img.b {
  width:21px;
  height:21px;
}
#u1195.b {
  left:399px;
  top:293px;
  width:21px;
  height:21px;
}
#u1196.b {
  left:405px;
  top:300px;
  width:3px;
  height:3px;
}
#u1196_img.b {
  width:3px;
  height:3px;
}
#u1196.b {
  left:405px;
  top:300px;
  width:3px;
  height:3px;
}
#u1197.b {
  left:411px;
  top:300px;
  width:3px;
  height:3px;
}
#u1197_img.b {
  width:3px;
  height:3px;
}
#u1197.b {
  left:411px;
  top:300px;
  width:3px;
  height:3px;
}
#u1198.b {
  left:405px;
  top:306px;
  width:10px;
  height:2px;
}
#u1198_img.b {
  width:10px;
  height:2px;
}
#u1198.b {
  left:405px;
  top:306px;
  width:10px;
  height:2px;
}
#u980_state0.b {
  width:1024px;
  height:451px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u980_state1.b {
  width:1024px;
  height:451px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u1199.b {
  left:389px;
  top:6412px;
}
#u1199_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1199.b {
  left:389px;
  top:6412px;
}
#u1199_text.b {
}
#u1201.b {
  border-width:0px;
  position:absolute;
  left:489px;
  top:6438px;
  width:61px;
  height:30px;
}
#u1202.b {
}
#u1202_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(250, 247, 241, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1202.b {
}
#u1203.b {
}
#u1203_img.b {
}
#u1203.b {
}
#u1204.b {
}
#u1204_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(250, 247, 241, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:20px;
  -moz-box-shadow:1px 1px 5px 1px rgba(243, 245, 248, 0.0470588235294118) inset;
  -webkit-box-shadow:1px 1px 5px 1px rgba(243, 245, 248, 0.0470588235294118) inset;
  box-shadow:1px 1px 5px 1px rgba(243, 245, 248, 0.0470588235294118) inset;
}
#u1204.b {
}
#u1205.b {
}
#u1205_img.b {
}
#u1205.b {
}
#u1201_state0.b {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u1201_state1.b {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u1206.b {
  left:407px;
  top:6444px;
}
#u1206_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1E1E1E;
}
#u1206.b {
  left:407px;
  top:6444px;
}
#u1206_text.b {
}
#u1207.b {
  left:566px;
  top:6444px;
}
#u1207_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1E1E1E;
}
#u1207.b {
  left:566px;
  top:6444px;
}
#u1207_text.b {
}
#u1208.b {
  left:398px;
  top:7382px;
  width:228px;
}
#u1208_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:22px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u1208.b {
  left:398px;
  top:7382px;
  width:228px;
}
#u1208_div.mouseOver.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:22px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u1208.b.mouseOver {
}
#u1208_div.mouseDown.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:31px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:22px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u1208.b.mouseDown {
}
#u1208_text.b {
  width:224px;
}
#u1209.b {
  position:absolute;
  left:0px;
  top:7457px;
  width:1024px;
  height:49px;
}
#u1210.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7457px;
  width:1024px;
  height:49px;
}
#u1210_state0.b {
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
}
#u1211.b {
  left:142px;
  top:7475px;
}
#u1211_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u1211.b {
  left:142px;
  top:7475px;
}
#u1211_text.b {
}
#u1212.b {
  left:807px;
  top:7469px;
}
#u1212_img.b {
}
#u1212.b {
  left:807px;
  top:7469px;
}
#u1212_img.b.mouseOver {
}
#u1212.b.mouseOver {
}
#u1213.b {
  left:766px;
  top:7471px;
}
#u1213_img.b {
}
#u1213.b {
  left:766px;
  top:7471px;
}
#u1213_img.b.mouseOver {
}
#u1213.b.mouseOver {
}
#u1214.b {
  left:848px;
  top:7475px;
}
#u1214_img.b {
}
#u1214.b {
  left:848px;
  top:7475px;
}
#u1214_img.b.mouseOver {
}
#u1214.b.mouseOver {
}
#u1216.b {
  left:376px;
  top:4711px;
  width:591px;
  height:211px;
}
#u1216_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:211px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u1216.b {
  left:376px;
  top:4711px;
  width:591px;
  height:211px;
}
#u1217.b {
  left:74px;
  top:4711px;
  width:282px;
  height:211px;
}
#u1217_img.b {
  width:282px;
  height:211px;
}
#u1217.b {
  left:74px;
  top:4711px;
  width:282px;
  height:211px;
}
#u1218.b {
  left:74px;
  top:4955px;
  width:282px;
  height:211px;
}
#u1218_img.b {
  width:282px;
  height:211px;
}
#u1218.b {
  left:74px;
  top:4955px;
  width:282px;
  height:211px;
}
#u1219.b {
  left:74px;
  top:4466px;
  width:282px;
  height:211px;
}
#u1219_img.b {
  width:282px;
  height:211px;
}
#u1219.b {
  left:74px;
  top:4466px;
  width:282px;
  height:211px;
}
#u1220.b {
  left:376px;
  top:4466px;
  width:591px;
  height:211px;
}
#u1220_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:211px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u1220.b {
  left:376px;
  top:4466px;
  width:591px;
  height:211px;
}
#u1221.b {
  left:388px;
  top:4775px;
  width:559px;
  height:132px;
}
#u1221_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:559px;
  height:132px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  line-height:16px;
}
#u1221.b {
  left:388px;
  top:4775px;
  width:559px;
  height:132px;
}
#u1221_text.b {
  width:559px;
}
#u1222.b {
  left:388px;
  top:4722px;
  width:46px;
  height:46px;
}
#u1222_img.b {
  width:46px;
  height:46px;
}
#u1222.b {
  left:388px;
  top:4722px;
  width:46px;
  height:46px;
}
#u1223.b {
  left:444px;
  top:4736px;
}
#u1223_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u1223.b {
  left:444px;
  top:4736px;
}
#u1223_text.b {
}
#u1224.b {
  left:400px;
  top:4735px;
  width:22px;
  height:20px;
}
#u1224_img.b {
  width:22px;
  height:20px;
}
#u1224.b {
  left:400px;
  top:4735px;
  width:22px;
  height:20px;
}
#u1225.b {
  left:369px;
  top:4955px;
  width:598px;
  height:211px;
}
#u1225_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:598px;
  height:211px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u1225.b {
  left:369px;
  top:4955px;
  width:598px;
  height:211px;
}
#u1226.b {
  left:383px;
  top:5022px;
  width:564px;
  height:135px;
}
#u1226_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:564px;
  height:135px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  line-height:16px;
}
#u1226.b {
  left:383px;
  top:5022px;
  width:564px;
  height:135px;
}
#u1226_text.b {
  width:564px;
}
#u1227.b {
  left:444px;
  top:4980px;
}
#u1227_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u1227.b {
  left:444px;
  top:4980px;
}
#u1227_text.b {
}
#u1228.b {
  left:388px;
  top:4966px;
  width:46px;
  height:46px;
}
#u1228_img.b {
  width:46px;
  height:46px;
}
#u1228.b {
  left:388px;
  top:4966px;
  width:46px;
  height:46px;
}
#u1229.b {
  left:398px;
  top:4978px;
  width:25px;
  height:22px;
}
#u1229_img.b {
  width:25px;
  height:22px;
}
#u1229.b {
  left:398px;
  top:4978px;
  width:25px;
  height:22px;
}
#u1230.b {
  left:388px;
  top:4526px;
  width:570px;
  height:145px;
}
#u1230_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:145px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  line-height:16px;
}
#u1230.b {
  left:388px;
  top:4526px;
  width:570px;
  height:145px;
}
#u1230_text.b {
  width:570px;
}
#u1231.b {
  left:444px;
  top:4486px;
}
#u1231_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u1231.b {
  left:444px;
  top:4486px;
}
#u1231_text.b {
}
#u1232.b {
  left:388px;
  top:4472px;
  width:46px;
  height:46px;
}
#u1232_img.b {
  width:46px;
  height:46px;
}
#u1232.b {
  left:388px;
  top:4472px;
  width:46px;
  height:46px;
}
#u1233.b {
  left:407px;
  width:9px;
  height:17px;
}
#u1233_img.b {
  width:9px;
  height:17px;
}
#u1233.b {
  left:407px;
  width:9px;
  height:17px;
}
#u1234.b {
  top:5236px;
  height:30px;
}
#u1234_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1234.b {
  top:5236px;
  height:30px;
}
#u1234_text.b {
}
#u1235.b {
  top:1405px;
}
#u1235_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
}
#u1235.b {
  top:1405px;
}
#u1235_text.b {
}
#u1237.b {
  left:478px;
  top:835px;
  width:472px;
  height:205px;
}
#u1237_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:205px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1237.b {
  left:478px;
  top:835px;
  width:472px;
  height:205px;
}
#u1238.b {
  left:503px;
  top:884px;
}
#u1238_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(12, 114, 77, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0C724D;
}
#u1238.b {
  left:503px;
  top:884px;
}
#u1238_text.b {
}
#u1239.b {
  left:719px;
  top:937px;
}
#u1239_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(12, 114, 77, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0C724D;
}
#u1239.b {
  left:719px;
  top:937px;
}
#u1239_text.b {
}
#u1240.b {
  left:503px;
  top:990px;
}
#u1240_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(12, 114, 77, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0C724D;
}
#u1240.b {
  left:503px;
  top:990px;
}
#u1240_text.b {
}
#u1241.b {
  left:503px;
  top:937px;
}
#u1241_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(12, 114, 77, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0C724D;
}
#u1241.b {
  left:503px;
  top:937px;
}
#u1241_text.b {
}
#u1242.b {
  left:719px;
  top:990px;
}
#u1242_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(12, 114, 77, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0C724D;
}
#u1242.b {
  left:719px;
  top:990px;
}
#u1242_text.b {
}
#u1243.b {
  left:565px;
  top:846px;
  width:298px;
  height:28px;
}
#u1243_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u1243.b {
  left:565px;
  top:846px;
  width:298px;
  height:28px;
}
#u1243_text.b {
  width:298px;
}
#u1244.b {
  left:719px;
  top:884px;
}
#u1244_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(12, 114, 77, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0C724D;
}
#u1244.b {
  left:719px;
  top:884px;
}
#u1244_text.b {
}
#u1246.b {
  left:83px;
  top:1094px;
  width:867px;
  height:240px;
}
#u1246_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:867px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1246.b {
  left:83px;
  top:1094px;
  width:867px;
  height:240px;
}
#u1247.b {
  left:103px;
  top:1193px;
  width:825px;
  height:90px;
}
#u1247_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:825px;
  height:90px;
  background:inherit;
  background-color:rgba(12, 114, 77, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1247.b {
  left:103px;
  top:1193px;
  width:825px;
  height:90px;
}
#u1248.b {
  left:230px;
  top:1148px;
  width:444px;
  height:87px;
}
#u1248_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:444px;
  height:87px;
  background:inherit;
  background-color:rgba(175, 117, 18, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1248.b {
  left:230px;
  top:1148px;
  width:444px;
  height:87px;
}
#u1249.b {
  left:609px;
  top:1105px;
  width:334px;
  height:70px;
  opacity:0.5;
}
#u1249_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:70px;
  background:inherit;
  background-color:rgba(12, 114, 77, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
  text-align:center;
}
#u1249.b {
  left:609px;
  top:1105px;
  width:334px;
  height:70px;
  opacity:0.5;
}
#u1250.b {
  left:108px;
  top:1204px;
  width:101px;
  height:16px;
}
#u1250_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1250.b {
  left:108px;
  top:1204px;
  width:101px;
  height:16px;
}
#u1250_text.b {
  width:101px;
}
#u1251.b {
  left:251px;
  top:1204px;
  width:162px;
  height:16px;
}
#u1251_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1251.b {
  left:251px;
  top:1204px;
  width:162px;
  height:16px;
}
#u1251_text.b {
  width:162px;
}
#u1252.b {
  left:455px;
  top:1204px;
  width:98px;
  height:15px;
}
#u1252_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1252.b {
  left:455px;
  top:1204px;
  width:98px;
  height:15px;
}
#u1252_text.b {
  width:98px;
}
#u1253.b {
  left:596px;
  top:1204px;
  width:67px;
  height:15px;
}
#u1253_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1253.b {
  left:596px;
  top:1204px;
  width:67px;
  height:15px;
}
#u1253_text.b {
  width:67px;
}
#u1254.b {
  left:705px;
  top:1204px;
  width:50px;
  height:16px;
}
#u1254_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1254.b {
  left:705px;
  top:1204px;
  width:50px;
  height:16px;
}
#u1254_text.b {
  width:50px;
}
#u1255.b {
  left:797px;
  top:1204px;
  width:122px;
  height:19px;
}
#u1255_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1255.b {
  left:797px;
  top:1204px;
  width:122px;
  height:19px;
}
#u1255_text.b {
  width:122px;
}
#u1256.b {
  left:166px;
  top:1245px;
  width:574px;
  height:28px;
}
#u1256_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:574px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
  text-align:center;
}
#u1256.b {
  left:166px;
  top:1245px;
  width:574px;
  height:28px;
}
#u1256_text.b {
  width:574px;
}
#u1257.b {
  left:230px;
  top:1291px;
  width:574px;
}
#u1257_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:574px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
  text-align:center;
}
#u1257.b {
  left:230px;
  top:1291px;
  width:574px;
}
#u1257_text.b {
  width:574px;
}
#u1258.b {
  left:286px;
  top:1296px;
}
#u1258_img.b {
}
#u1258.b {
  left:286px;
  top:1296px;
}
#u1259.b {
  left:196px;
  top:1203px;
}
#u1259_img.b {
}
#u1259.b {
  left:196px;
  top:1203px;
}
#u1260.b {
  left:746px;
  top:1203px;
}
#u1260_img.b {
}
#u1260.b {
  left:746px;
  top:1203px;
}
#u1261.b {
  left:587px;
  top:1245px;
}
#u1261_img.b {
}
#u1261.b {
  left:587px;
  top:1245px;
}
#u1262.b {
  left:230px;
  top:1112px;
  width:574px;
  height:28px;
}
#u1262_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:574px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u1262.b {
  left:230px;
  top:1112px;
  width:574px;
  height:28px;
}
#u1262_text.b {
  width:574px;
}
#u1263.b {
  left:346px;
  top:1158px;
  width:213px;
  height:28px;
}
#u1263_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
  text-align:center;
}
#u1263.b {
  left:346px;
  top:1158px;
  width:213px;
  height:28px;
}
#u1263_text.b {
  width:213px;
}
#u1265.b {
  left:83px;
  top:2859px;
}
#u1265_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
}
#u1265.b {
  left:83px;
  top:2859px;
}
#u1265_text.b {
}
#u1266.b {
  left:83px;
  top:2917px;
}
#u1266_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(175, 117, 18, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1266.b {
  left:83px;
  top:2917px;
}
#u1267.b {
  left:391px;
  top:2917px;
}
#u1267_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(175, 117, 18, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1267.b {
  left:391px;
  top:2917px;
}
#u1268.b {
  left:700px;
  top:2917px;
}
#u1268_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(175, 117, 18, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1268.b {
  left:700px;
  top:2917px;
}
#u1269.b {
  left:402px;
  top:2933px;
  width:230px;
  height:40px;
}
#u1269_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#AF7512;
  text-align:center;
}
#u1269.b {
  left:402px;
  top:2933px;
  width:230px;
  height:40px;
}
#u1269_text.b {
  width:230px;
}
#u1270.b {
  left:730px;
  top:2933px;
  width:190px;
  height:40px;
}
#u1270_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#AF7512;
  text-align:center;
}
#u1270.b {
  left:730px;
  top:2933px;
  width:190px;
  height:40px;
}
#u1270_text.b {
  width:190px;
}
#u1271.b {
  left:123px;
  top:2933px;
  width:170px;
  height:40px;
}
#u1271_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#AF7512;
  text-align:center;
}
#u1271.b {
  left:123px;
  top:2933px;
  width:170px;
  height:40px;
}
#u1271_text.b {
  width:170px;
}
#u1272.b {
  left:83px;
}
#u1272_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(12, 114, 77, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1272.b {
  left:83px;
}
#u1273.b {
  left:392px;
}
#u1273_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(12, 114, 77, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1273.b {
  left:392px;
}
#u1274.b {
  left:700px;
}
#u1274_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(12, 114, 77, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1274.b {
  left:700px;
}
#u1275.b {
  left:93px;
  top:3054px;
  width:230px;
  height:40px;
}
#u1275_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#2A9B68;
  text-align:center;
}
#u1275.b {
  left:93px;
  top:3054px;
  width:230px;
  height:40px;
}
#u1275_text.b {
  width:230px;
}
#u1276.b {
  left:402px;
  top:3054px;
  width:230px;
  height:40px;
}
#u1276_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#2A9B68;
  text-align:center;
}
#u1276.b {
  left:402px;
  top:3054px;
  width:230px;
  height:40px;
}
#u1276_text.b {
  width:230px;
}
#u1277.b {
  left:710px;
  top:3054px;
  width:230px;
  height:40px;
}
#u1277_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#2A9B68;
  text-align:center;
}
#u1277.b {
  left:710px;
  top:3054px;
  width:230px;
  height:40px;
}
#u1277_text.b {
  width:230px;
}
#u1278.b {
  left:207px;
  top:2989px;
  height:49px;
}
#u1278_img.b {
  height:58px;
}
#u1278p000.b {
  left:-27px;
  top:21px;
  width:54px;
  height:6px;
}
#u1278p000_img.b {
  width:54px;
  height:6px;
}
#u1278p001.b {
  top:-1px;
}
#u1278p001_img.b {
}
#u1278p002.b {
  top:35px;
}
#u1278p002_img.b {
}
#u1278.b {
  left:207px;
  top:2989px;
  height:49px;
}
#u1279.b {
  left:516px;
  top:2989px;
  height:49px;
}
#u1279_img.b {
  height:58px;
}
#u1279p000.b {
  left:-26px;
  top:21px;
  width:54px;
  height:6px;
}
#u1279p000_img.b {
  width:54px;
  height:6px;
}
#u1279p001.b {
  top:-1px;
}
#u1279p001_img.b {
}
#u1279p002.b {
  top:35px;
}
#u1279p002_img.b {
}
#u1279.b {
  left:516px;
  top:2989px;
  height:49px;
}
#u1280.b {
  left:824px;
  top:2989px;
  height:49px;
}
#u1280_img.b {
  height:58px;
}
#u1280p000.b {
  left:-26px;
  top:21px;
  width:54px;
  height:6px;
}
#u1280p000_img.b {
  width:54px;
  height:6px;
}
#u1280p001.b {
  left:0px;
  top:-1px;
  width:2px;
}
#u1280p001_img.b {
  width:2px;
}
#u1280p002.b {
  left:-10px;
  top:35px;
}
#u1280p002_img.b {
}
#u1280.b {
  left:824px;
  top:2989px;
  height:49px;
}
#u1281.b {
  left:83px;
  top:7081px;
  width:858px;
  height:50px;
}
#u1281_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:858px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  line-height:16px;
}
#u1281.b {
  left:83px;
  top:7081px;
  width:858px;
  height:50px;
}
#u1281_text.b {
  width:858px;
}
#u1282.b {
  left:83px;
  top:6971px;
  width:858px;
}
#u1282_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:858px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  line-height:16px;
}
#u1282.b {
  left:83px;
  top:6971px;
  width:858px;
}
#u1282_text.b {
  width:858px;
}
