.ax_default {
  font-family:'Work Sans', 'Frutiger CE 45', 'Roboto', 'Arial';
  font-weight:300;
  font-style:bold;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.box_1 {
}
.box_2 {
}
.ellipse {
  font-size:14px;
  color:#666666;
}
.shape {
  font-family:'Work Sans', 'Frutiger CE 45', 'Roboto', 'Arial';
  font-weight:300;
  font-style:bold;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.image {
}
.button {
}
.primary_button {
  color:#FFFFFF;
}
.link_button {
  color:#169BD5;
}
.heading_1 {
  font-family:'Work Sans', 'Frutiger CE 45', 'Roboto', 'Arial';
  font-weight:bold;
  font-style:semi-bold;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'Work Sans', 'Frutiger CE 45', 'Roboto', 'Arial';
  font-weight:bold;
  font-style:semi-bold;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'Work Sans', 'Frutiger CE 45', 'Roboto', 'Arial';
  font-weight:bold;
  font-style:semi-bold;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'Work Sans', 'Frutiger CE 45', 'Roboto', 'Arial';
  font-weight:bold;
  font-style:semi-bold;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'Work Sans', 'Frutiger CE 45', 'Roboto', 'Arial';
  font-weight:bold;
  font-style:semi-bold;
  text-align:left;
}
.heading_6 {
  font-family:'Work Sans', 'Frutiger CE 45', 'Roboto', 'Arial';
  font-weight:bold;
  font-style:semi-bold;
  font-size:10px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.text_link {
  color:#0000FF;
}
.text_link_mouse_over {
}
.text_link_mouse_down {
}
.line {
}
.text_field {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.flow_shape {
}
.horizontal_line {
}
._图片 {
  color:#000000;
}
._水平线 {
}
.box_3 {
}
.descriptive2 {
  font-size:10px;
  color:#666666;
  text-align:center;
}
.ellipse1 {
}
.heading_avenir_64 {
  font-family:'Avenir Regular', 'Avenir';
  font-weight:normal;
  font-style:normal;
  font-size:64px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
.icon {
}
